@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;            
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  background-color:rgb(31, 34, 53);
}

body {
  line-height: 1;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header {
}
.header__container {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.header__nav {
}
.menu_list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);

}
.menu_list__item {
  text-decoration: none;
  cjlolor: rgb(255, 255, 255);
  
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FE461C;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.page {
  flex: 1 1 auto;  
}

.footer { 
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

